
{{> /layout/header}}

<!--회원가입 폼시작! -->
<div class="container mt-3">

<form> <!--자바 스크립트로 컨트롤 할 것 -->
  <div class="mb-3 mt-3">
    <input type="text" class="form-control" value="ssar" id="username" >
  </div>
  <div class="mb-3">
    <input type="password" class="form-control" value="1234" id="password">
  </div>
    <div class="mb-3">
    <input type="email" class="form-control" value="ssar@nate.com" id="email">
  </div>
  <button type="submit" class="btn btn-dark">회원가입</button>
</form>

</div>
<!-- 회원가입 폼  끝 -->
<script>
  function update() {
      let usernameDom = document.querySelector("#username");
  console.log(usernameDom);
  }
</script>

{{> /layout/footer}}